target
web/src/main/webapp/codetest/
/ear/.settings/org.eclipse.m2e.core.prefs
/selfservice/_BACKUP_5475.project
/selfservice/_BASE_5475.project
/tomee/.settings/org.eclipse.core.resources.prefs
/selfservice/_LOCAL_5475.project
/selfservice/_REMOTE_5475.project
