target
web/src/main/webapp/codetest/
patches
/ear/.settings/org.eclipse.m2e.core.prefs
/selfservice/_BACKUP_5475.project
/selfservice/_BASE_5475.project
/tomee/.settings/org.eclipse.core.resources.prefs
/selfservice/_LOCAL_5475.project
/selfservice/_REMOTE_5475.project
/webservice/.settings/org.eclipse.wst.common.component
/webservice/.settings/org.eclipse.wst.common.project.facet.core.xml
/webservice/.settings/org.eclipse.wst.validation.prefs
/ear/.settings/org.eclipse.wst.common.component
/ear/.settings/org.eclipse.wst.common.project.facet.core.xml
/ear/.settings/org.eclipse.wst.validation.prefs
/webservice/.settings/org.eclipse.wst.common.project.facet.core.prefs.xml
/web/.settings/org.eclipse.jdt.ui.prefs
/web/.settings/org.eclipse.jst.j2ee.ejb.annotations.xdoclet.prefs
/web/.settings/org.eclipse.wst.jsdt.ui.prefs
