.project
.classpath
.cvsignore
/.settings/
/.externalToolBuilders/
/target/

/axis2-aar/.project
/axis2-aar/.classpath
/axis2-aar/.gitignore
/axis2-aar/.cvsignore
/axis2-aar/.settings/
/axis2-aar/.externalToolBuilders/
/axis2-aar/target/

/bpm-common/.project
/bpm-common/.classpath
/bpm-common/.gitignore
/bpm-common/.cvsignore
/bpm-common/.settings/
/bpm-common/.externalToolBuilders/
/bpm-common/target/

/bpm-sar/.project
/bpm-sar/.classpath
/bpm-sar/.gitignore
/bpm-sar/.cvsignore
/bpm-sar/.settings/
/bpm-sar/.externalToolBuilders/
/bpm-sar/target/

/common/.project
/common/.classpath
/common/.gitignore
/common/.cvsignore
/common/.settings/
/common/.externalToolBuilders/
/common/target/

/core/.project
/core/.classpath
/core/.gitignore
/core/.cvsignore
/core/.settings/
/core/.externalToolBuilders/
/core/target/

/deployer/.project
/deployer/.classpath
/deployer/.gitignore
/deployer/.cvsignore
/deployer/.settings/
/deployer/.externalToolBuilders/
/deployer/target/

/document-manager-ejb/.project
/document-manager-ejb/.classpath
/document-manager-ejb/.gitignore
/document-manager-ejb/.cvsignore
/document-manager-ejb/.settings/
/document-manager-ejb/.externalToolBuilders/
/document-manager-ejb/target/

/ear/.project
/ear/.classpath
/ear/.gitignore
/ear/.cvsignore
/ear/.settings/
/ear/.externalToolBuilders/
/ear/target/

/install/.project
/install/.classpath
/install/.gitignore
/install/.cvsignore
/install/.settings/
/install/.externalToolBuilders/
/install/target/

/legacy/.project
/legacy/.classpath
/legacy/.gitignore
/legacy/.cvsignore
/legacy/.settings/
/legacy/.externalToolBuilders/
/legacy/target/

/mda/.project
/mda/.classpath
/mda/.gitignore
/mda/.cvsignore
/mda/.settings/
/mda/.externalToolBuilders/
/mda/target/

/meta/.project
/meta/.classpath
/meta/.gitignore
/meta/.cvsignore
/meta/.settings/
/meta/.externalToolBuilders/
/meta/target/

/scimquery/.project
/scimquery/.classpath
/scimquery/.gitignore
/scimquery/.cvsignore
/scimquery/.settings/
/scimquery/.externalToolBuilders/
/scimquery/target/

/selfservice/.project
/selfservice/.classpath
/selfservice/.gitignore
/selfservice/.cvsignore
/selfservice/.settings/
/selfservice/.externalToolBuilders/
/selfservice/target/

/seu/.project
/seu/.classpath
/seu/.gitignore
/seu/.cvsignore
/seu/.settings/
/seu/.externalToolBuilders/
/seu/target/

/test/.project
/test/.classpath
/test/.gitignore
/test/.cvsignore
/test/.settings/
/test/.externalToolBuilders/
/test/target/

/tomee/.project
/tomee/.classpath
/tomee/.gitignore
/tomee/.cvsignore
/tomee/.settings/
/tomee/.externalToolBuilders/
/tomee/target/
/tomee/bin/target/

/upload-components/.project
/upload-components/.classpath
/upload-components/.gitignore
/upload-components/.cvsignore
/upload-components/.settings/
/upload-components/.externalToolBuilders/
/upload-components/target/

/web/.project
/web/.classpath
/web/.gitignore
/web/.cvsignore
/web/.settings/
/web/.externalToolBuilders/
/web/target/

/web-common/.project
/web-common/.classpath
/web-common/.gitignore
/web-common/.cvsignore
/web-common/.settings/
/web-common/.externalToolBuilders/
/web-common/target/

/weblogout/.project
/weblogout/.classpath
/weblogout/.gitignore
/weblogout/.cvsignore
/weblogout/.settings/
/weblogout/.externalToolBuilders/
/weblogout/target/

/webservice/.project
/webservice/.classpath
/webservice/.gitignore
/webservice/.cvsignore
/webservice/.settings/
/webservice/.externalToolBuilders/
/webservice/target/

/patches/
/selfservice/_BACKUP_5475.project
/selfservice/_BASE_5475.project
/selfservice/_LOCAL_5475.project
/selfservice/_REMOTE_5475.project
/web/src/main/webapp/codetest/

pom.xml~
/web-root/target
/juli/target
web/deploy
web/src/test/bin/syncweb.sh
