/* #Descktop
================================================== */
img, video, canvas { max-width: 100%;}
/****** TOP LINE ******/
.topline{height:35px !important; background-color: #22B9D8 !important; border-bottom: 0.1em solid #7f9fc2 !important; padding: 0 !important; margin: 0 !important; box-shadow: 0px 1px 7px #888888;}
.startmenu, .startmenu:hover{border: 0px !important; float: left; width: 65px; border: 0; height: 22px; border-radius: 0; background-color: #22B9D8 !important; padding: 7px !important; margin: 0 !important;}
#logo{ margin: 0px 10px 0px 5px; vertical-align: -45%; background: transparent}
.benvingutmsg{padding:7px 5px 0px 0px;}
.topline .codiusuari, .inici, .show-pass .title td, .new-pass .title td, .show-pass span, .new-pass span{font-family: "Avenir LT Std", Calibri, Arial !important; font-size:18px !important; color: white; font-weight: normal !important;}
.col_cen, .benvingut, .titol_tanca{display:none;}
.codiusuari:hover{
	text-decoration: underline;
}
.col_cen {margin-top: 7px}

/****** MENU PRINCIPAL/PERFIL Y VENTANAS ******/
.shadow-window{ box-shadow: 0px 1px 7px #888888; }
.col_izq{width:160px;}
.menu-display .tree{border:0px;}
.menu-display div.tree-body td{padding:0;}
.tree-body td .cell-inner{padding:5px 0px 5px 10px;}	
span.tree-root-close, span.tree-tee-close, span.tree-last-close,
span.tree-root-open, span.tree-tee-open, span.tree-last-open{ margin: 0px 10px 0px 0px; background-repeat: no-repeat; width: 20px; min-height: 20px;}
span.tree-root-close, span.tree-tee-close, span.tree-last-close{ background-image: url(/selfservice/icons/collapse.png); background-size: 20px 20px; }
span.tree-root-open, span.tree-tee-open, span.tree-last-open{ background-image: url(/selfservice/icons/expand.png); background-size: 20px 20px;}	
span.menu-display, .menu-display tr.title td, .menu-display div.cell-inner{ background-color:white !important; font-family: "Avenir LT Std", Calibri, Arial; font-size:18px; color:#22B9D8; font-weight: normal;line-height: 40px; border-top: 1px solid #eee; cursor:pointer; }
.mwt-menuprincipal, .rwt-menuprincipal{ box-shadow:none; }
.menuperfil{ padding-right:10px; z-index: 1;}
.menuperfil:hover, .menu-display div.cell-inner:hover{background-color: #22B9D8 !important; color:white;}
.menu-display .tree-root-open, .menu-display .tree-root-close{ float: right; margin:11px 20px;}

/**** VENTANAS ****/
.show-pass, .new-pass{ background-color:white; border:1px solid #22B9D8; padding-bottom:15px; }
.show-pass .title td, .new-pass .title td{ padding-left: 3px; background-color:#22B9D8; line-height: 30px; }
.show-pass span, .new-pass span{color: #000;}
.show-pass input, .new-pass input{padding: 4px 4px 5px 4px;}
.new-pass div{margin-top:10px;}
.new-pass .rbtnbk { top: 2px;position: relative; padding: 0px 1px 0px 2px;}
.dateboxpp table{width: 100%;}

/****** MENU PERFIL ******/
.menuperfil{display:none; top: 35px !important; right: 0px !important; position: absolute; }

/****** TITULOS *******/
.titolSelf{ font-family: "Avenir LT Std", Calibri, Arial; font-size:25px; color:#7F9FC2; }

.fons{ background-color:transparent; }
.content{ display: table;width: 100%; max-width: 100%;margin: 0 auto; }
.sidebar{ float:left; width:17%; margin-right:25px; }
.workarea{ padding:5px !important;}
.wrap{ float:left; width:80%; }
.wrap > div, .wrap > div > .tasks{ margin-bottom:25px; }	

/* Texto de las tablas */
div.listbox-head{width:100% !important;}
div.listbox-head th div.head-cell-inner, div.cell-inner, div.cell-inner span {font-family: "Avenir LT Std", Calibri, Arial; font-size:15px;}
div.listbox-head th, div.listbox-head th div{white-space:pre-line; word-wrap:break-word;}

/*****  USER-INFO | PESTA�AS IDENTIFICACION/PERMISOS *****/
.user-info{height:180px;}
.user-info td.tab-3d-ml-sel, 
.user-info td.tab-3d-ml-uns,
.user-info td[class^='tab-3d-']{background-image:none;}
.user-info [class^='tab-3d-mm'] a {white-space:pre;}

td.tab-3d-ml-sel, 
td.tab-3d-ml-uns,
td[class^='tab-3d-']{background-image:none;}
.tab-3d-mm' a {white-space:pre;}

.tab, .tab a, .tabsel, .tabsel a{font-size:15px; font-weight:bold;}
.tab a{color:#7F9FC2}
.tabsel a{color: #9EC73C;}
.tabsel, .tab{border:1px solid #7F9FC2; }

/* Esquinas superiores de la tabla de las pesta�as*/
td.tab-3d-first1, td.tab-3d-last1{border-bottom: 1px solid #7F9FC2;}
td.tab-3d-first2, td.tab-3d-last2{width:auto;}

/* Tabla */
div.tabpanel{border-left:1px solid #7F9FC2;border-right:1px solid #7F9FC2;border-bottom:1px solid #7F9FC2;}

/* Sidebar: Aplicaciones*/
.aplications img{margin-top:-2px;}

/*zona IP*/
.own-ip {position: fixed; left: 0; bottom: 0; background-color: #9EC73C; width: 100%; padding: 10px;opacity: 0.8;}
.own-ip span {color: white;font-family: "Avenir LT Std", Calibri, Arial; font-size:18px;}
/* #Media Queries
================================================== */
/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 876px) {
	.content{display: block; overflow: hidden; width: auto; margin-top: 10px;}
	.sidebar, .wrap{float:none; display: block; width: auto; padding:0px 0px 15px 0px; margin: 15px 0px 0px 0px;}	
	.aplications .tree-body{border:1px solid #7F9FC2; width:100%;}
	.aplications .tree-body span{font-size:20px;}
	span.tree-root-close, span.tree-tee-close, span.tree-last-close,
	span.tree-root-open, span.tree-tee-open, span.tree-last-open{ margin: 2px 10px 0px 0px;}
//	.own-ip{top:37px; padding:3px; bottom:initial;}
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 877px) and (max-width: 1024px) {
	.sidebar{width:23%;}
	.wrap{width:73%;}
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	div.listbox-head th, div.listbox-head th.sort div.head-cell-inner{padding:1px; white-space: nowrap;}
	.aplications img { margin-top: -6px;}
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	.col_izq{width:115px;}
	.menuperfil, .menuprincipal{width: 100% !important; float: none;}
	.show-pass .label .vsep, .new-pass .label  .vsep{ display:none !important; }
	.show-pass, .new-pass {left:0px !important; width:100% !important; float:none;}
	.new-pass .label span{display:block; margin-bottom:5px;}
	.new-pass span.rbtnbk{ display: inline;}
	#logo{width:30px;}
	div.listbox-head th div, div.listbox-head th, div.listbox-head th.sort div.head-cell-inner{padding:1px; white-space: nowrap;}
	.aplications img { margin-top: -6px;}
}

/* Buttons */
input[type="button"] {
	background-color: white;
	border: 1px solid #9EC73C;
	border-image: none;
	padding: 2px;
	color: #7F9FC2;
}	

/* Buttons */
input[type="button"]:hover {
	background-color: #9EC73C;
	color: white;
}	
