<?xml version="1.0"?>
<!DOCTYPE web-app PUBLIC
   "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
   "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
   <description>Soffid starting notifier</description>
   <error-page>
       <error-code>404</error-code>
       <location>/index.html</location>
   </error-page>

</web-app>
