/* #Descktop
================================================== */
img, video, canvas { max-width: 100%;}
/****** TOP LINE ******/
.topline{height:35px !important; background-color: #22B9D8 !important; border-bottom: 0.1em solid #7f9fc2 !important; padding: 0 !important; margin: 0 !important; box-shadow: 0px 1px 7px #888888;}
.startmenu {
	height: 35px;
	border: 0px !important; float: left; border: 0; border-radius: 0; background-color: #22B9D8 !important; padding: 0px !important; margin: 0 !important;
	}

#logo{ margin: 7px 10px 0px 5px; vertical-align: -45%; background: transparent; height: 25px; }
.col_cen {margin-top: 7px;}

.startmenu:hover {background:  #70a3cc !important;}

/*.startmenu img{width:15px;}*/
.benvingutmsg{padding:7px 5px 0px 0px;}
.topline .codiusuari, .inici, .show-pass .title td, .new-pass .title td, .show-pass span, .new-pass span{font-family: "Avenir LT Std", Calibri, Arial, sans-serif, !important; font-size:18px !important; color: white; font-weight: normal !important;}

/****** MENU PRINCIPAL/PERFIL Y VENTANAS ******/
.shadow-window{ box-shadow: 0px 1px 7px #888888; }
.col_izq{width:auto; margin-right: 1em; }
.menu-display .tree{border:0px;}
.menu-display div.tree-body td{padding:0;}
.tree-body td .cell-inner{padding:5px 0px 5px 10px;}	
span.tree-root-close, span.tree-tee-close, span.tree-last-close,
span.tree-root-open, span.tree-tee-open, span.tree-last-open{ margin: 0px 10px 0px 0px; background-repeat: no-repeat; width: 16px; min-height: 16px;}
span.tree-root-close, span.tree-tee-close, span.tree-last-close{ background-image: url(/icons/collapse.png); background-size: 16px 16px; }
span.tree-root-open, span.tree-tee-open, span.tree-last-open{ background-image: url(/icons/expand.png); background-size: 16px 16px;}	
span.menu-display, .menu-display tr.title td, .menu-display div.cell-inner{ background-color:white !important; font-family: "Avenir LT Std", Calibri, Arial, sans-serif; font-size:18px; color:#22B9D8; font-weight: normal;line-height: 40px; border-top: 1px solid #eee; cursor:pointer; }
.mwt-menuprincipal, .rwt-menuprincipal{ box-shadow:none; }
.menuperfil{ padding-right:10px; z-index: 1;}
.menuperfil:hover, .menu-display div.cell-inner:hover{background-color: #22B9D8 !important; color:white;}
.menu-display .tree-root-open, .menu-display .tree-root-close{ float: right; margin:11px 20px;}

/**** VENTANAS ****/
.show-pass, .new-pass{ background-color:white; border:1px solid #22B9D8; padding-bottom:15px; }
.show-pass .title td, .new-pass .title td{ padding-left: 3px; background-color:#22B9D8; line-height: 30px; }
.show-pass span, .new-pass span{color: #000;}
.show-pass input, .new-pass input{padding: 4px 4px 5px 4px;}
.new-pass div{margin-top:10px;}
.new-pass .rbtnbk { top: 2px;position: relative; padding: 0px 1px 0px 2px;}
.dateboxpp table{width: 100%;}

/****** MENU PERFIL ******/
.menuperfil{display:none; top: 35px !important; right: 0px !important; position: absolute; }

/****** TITULOS *******/
.titolSelf{ font-family: "Avenir LT Std", Calibri, Arial, sans-serif; font-size:25px; color:#7F9FC2; }

.fons{ background-color:transparent; }
.content{ display: table;width: 100%; max-width: 100%;margin: 0 auto; }
.sidebar{ float:left; width:17%; margin-right:25px; }
.workarea{ padding:5px !important;}
.wrap{ float:left; width:80%; }
.wrap > div, .wrap > div > .tasks{ margin-bottom:25px; }	

/* Texto de las tablas */
div.listbox-head{width:100% !important;}
/* div.listbox-head th div.head-cell-inner, div.cell-inner, div.cell-inner span {font-family: "Avenir LT Std", Calibri, Arial, sans-serif; font-size:11px;} */
div.listbox-head th, div.listbox-head th div{white-space:pre-line; word-wrap:break-word;}

/*****  USER-INFO | PESTA�AS IDENTIFICACION/PERMISOS *****/
.user-info{height:180px;}
.user-info td.tab-3d-ml-sel, 
.user-info td.tab-3d-ml-uns,
.user-info td[class^='tab-3d-']{background-image:none;}
.user-info [class^='tab-3d-mm'] a {white-space:pre;}

td.tab-3d-ml-sel, 
td.tab-3d-ml-uns,
td.tab-thicktabbox-ml-sel, 
td.tab-thicktabbox-ml-uns,
td[class^='tab-thicktabbox-'],
td[class^='tab-3d-']{background-image:none;}
.tab-3d-mm', .tab-thicktabbox-mm' a {white-space:pre;}

.tab, .tab a, .tabsel, .tabsel a{font-size:13px; font-weight:bold;}
.tab a{color:#7F9FC2}
.tabsel a{color: #9EC73C;}
.tabsel, .tab{border-bottom:none }

/* Esquinas superiores de la tabla de las pesta�as*/
td.tab-3d-first1, td.tab-3d-first2, td.tab-3d-last1, td.tab-3d-last2 {border-bottom: none;}
td.tab-thicktabbox-first1, td.tab-thicktabbox-first2, td.tab-thicktabbox-last1 {
	border-bottom: none;
	}
td.tab-thicktabbox-last1, 
td.tab-3d-last1 {
	border-bottom: 1px solid #637792;
}
td.tab-3d-first2, td.tab-3d-last2, td.tab-thicktabbox-first2, td.tab-thicktabbox-last2{width:auto;}

/*** THICK TABBOX ************/
td.tab-thicktabbox-first1 {
	width: 1px; height: 3px;
}
td.tab-thicktabbox-first2 {
	width: 3px; height: 3px;
}
td.tab-thicktabbox-last1 {
	border-left: none;
	width: 3px; height: 33px;
}
td.tab-thicktabbox-last2 {
	width: 1px; height: 3px;
	border-bottom: none;
}

td.tab-thicktabbox-tl-sel, td.tabaccd-thicktabbox-tl-sel {
	width: 5px; height: 5px;
}
td.tab-thicktabbox-tl-uns, td.tabaccd-thicktabbox-tl-uns, td.groupbox-thicktabbox-tl {
	width: 5px; height: 5px;
}
td.tab-thicktabbox-tm-sel, td.tabaccd-thicktabbox-tm-sel {
	height: 5px;
}
td.tab-thicktabbox-tm-uns, td.tabaccd-thicktabbox-tm-uns, td.groupbox-thicktabbox-tm {
	height: 5px;
}
td.tab-thicktabbox-tr-sel, td.tabaccd-thicktabbox-tr-sel {
	width: 5px; height: 5px;
}
td.tab-thicktabbox-tr-uns, td.tabaccd-thicktabbox-tr-uns, td.groupbox-thicktabbox-tr {
	width: 5px; height: 5px;
}

td.tab-thicktabbox-ml-sel, td.tabaccd-thicktabbox-ml-sel {
	width: 5px;
}
td.tab-thicktabbox-ml-uns, td.tabaccd-thicktabbox-ml-uns, td.groupbox-thicktabbox-ml {
	width: 5px;
}
td.tab-thicktabbox-mm-sel, td.tabaccd-thicktabbox-mm-sel {
}
td.tab-thicktabbox-mm-uns, td.tabaccd-thicktabbox-mm-uns, td.groupbox-thicktabbox-mm {
}
td.tab-thicktabbox-mr-sel, td.tabaccd-thicktabbox-mr-sel {
	width: 5px;
}
td.tab-thicktabbox-mr-uns, td.tabaccd-thicktabbox-mr-uns, td.groupbox-thicktabbox-mr {
	width: 5px;
}

div.thicktabbox div.tabpanels div.tabpanel {
	border: none !important;
}
div table tbody tr td.tabsel
{
	border-left: none !important;
	border-top: none !important;
	border-right: none !important;
	border-bottom: 2px solid #9EC73C; 
	
} 

div table tbody tr td.tab{
	border-left: none !important;
	border-top: none !important;
	border-right: none !important;
	border-bottom:1px solid #637792; 
	
} 

div.thicktabbox > div > table > tbody > tr > td:first-child {
	border-right: none;
} 


td.tab-thicktabbox-bl-sel {
	width: 5px; height: 3px;
	border-bottom: none;
}
td.tab-thicktabbox-bl-uns {
	width: 5px; height: 3px;
	border-bottom: none;
}
td.tab-thicktabbox-bm-sel {
	height: 3px;
	border-bottom: none;
}
td.tab-thicktabbox-bm-uns {
	height: 3px;
	border-bottom: none;
}
td.tab-thicktabbox-br-sel {
	width: 5px; height: 3px;
	border-bottom: none;
}
td.tab-thicktabbox-br-uns {
	width: 5px; height: 3px;
	border-bottom: none;
}

tr.tab-thicktabbox-m, tr.tab-vthicktabbox-m, tr.tabaccd-thicktabbox-m, tr.groupbox-thicktabbox-m {
	height: 22px;
}
td.tabaccd-thicktabbox-b, td.groupbox-thicktabbox-b {
	height: 1px;
}

/****** End thicktabbox ***********/

/* Tabla */
div.tabpanel {
	border-left:none;
	border-right: none;
	border-bottom: none; 
}

/* Sidebar: Aplicaciones*/
.aplications img{margin-top:-2px;}

/*zona IP*/
.own-ip {position: fixed; left: 0; bottom: 0; background-color: #9EC73C; width: 100%; padding: 10px;opacity: 0.8;}
.own-ip span {color: white;font-family: "Avenir LT Std", Calibri, Arial, sans-serif; font-size:18px;}
/* #Media Queries
================================================== */
/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 876px) {
	.content{display: block; overflow: hidden; width: auto; margin-top: 10px;}
	.sidebar, .wrap{float:none; display: block; width: auto; padding:0px 0px 15px 0px; margin: 15px 0px 0px 0px;}	
	.aplications .tree-body{border:1px solid #7F9FC2; width:100%;}
	.aplications .tree-body span{font-size:20px;}
	span.tree-root-close, span.tree-tee-close, span.tree-last-close,
	span.tree-root-open, span.tree-tee-open, span.tree-last-open{ margin: 2px 10px 0px 0px;}
	.own-ip{top:37px; padding:3px; bottom:initial;}
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 877px) and (max-width: 1024px) {
	.sidebar{width:23%;}
	.wrap{width:73%;}
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	div.listbox-head th, div.listbox-head th.sort div.head-cell-inner{padding:1px; white-space: nowrap;}
	.aplications img { margin-top: -6px;}
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	.col_izq{width:115px;}
	.menuperfil, .menuprincipal{width: 100% !important; float: none;}
	.show-pass .label .vsep, .new-pass .label  .vsep{ display:none !important; }
	.show-pass, .new-pass {left:0px !important; width:100% !important; float:none;}
	.new-pass .label span{display:block; margin-bottom:5px;}
	.new-pass span.rbtnbk{ display: inline;}
	#logo{width:30px;}
	div.listbox-head th div, div.listbox-head th, div.listbox-head th.sort div.head-cell-inner{padding:1px; white-space: nowrap;}
	.aplications img { margin-top: -6px;}
}

/* Barra de botons */
.toolbar {
	padding: 2px; border: 1px; border-top:0.1px solid white; background: #637792; 
}

.toolbar a, .toolbar a:visited, .toolbar a:hover {
	font-family: Arial, sans-serif;	font-size: 11px; font-weight: bold; color: #FFF;
	border: 0px; text-decoration: none; background: #637792;
	white-space:nowrap; 
}

.toolbar a:hover {
	background: #7387a2;
}



