body {
	background-color: #5ec0a5;
	background-image: url(/soffid/anonymous/bg.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	overflow: hidden;
}

body span {
	color: white;
}

div.login {
	font-size: 12pt;
	background-color: #202020;
	opacity: 1;
	color: white;
	top: 50%;
    position: absolute;
    left: 50%;
	margin-top: -125px;
	padding: 30px;
	border-radius: 12px;
	transition: transform 0.5s;
	transform-style: preserve-3d ;
    transform: translateY(-50%)translateX(-50%);
}
div.login.loginprogress {
    transform: translateY(-50%)translateX(-50%)rotateX( 90deg );
}

div.login div.loginbox div.inputlogin {
	font-weight: bold;
}		
div.loginbox {
	width: 100%; 
}


input, input[type="submit"] {
	margin-top: 12px;
	margin-bottom: 6px;
	width: 100%;
	margin-left: 0px;
	font-size: 11pt;
	padding: 6px;
}

div.wait {
	position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -96px;
    margin-left: -96px;
    background: #202020;
    border-radius: 12px;
    width: 250px;
    height: 192px;
    color: white;
    font-weight: bold;
	text-align: center;
	padding-top: 30px;
	transition: transform 0.5s;
	transform-style: preserve-3d ;
    transform: rotateX( 90deg );
}

div.wait p {
	font-weight: bold;
}
div.wait.loginprogress {
	display: block;
    transform: rotateX( 0deg );
}
div.wait img {
	margin-top: 30px;
	width: 48px;
	height: 48px;
}

div.login a {
	color: white;
	margin-top: 15px;
}

div.login a:visited {
	color: white;
	margin-top: 15px;
}


div.highlighted span {
	color: black;
}