//
// (C) 2013 Soffid
//
//

package com.soffid.iam.model;
/**
 * DAO ScheduledTaskHandlerEntity implementation
 */
public class ScheduledTaskHandlerEntityDaoImpl extends ScheduledTaskHandlerEntityDaoBase
{
}
